
main{
  display:flex;
  flex-direction:column;
  height:100vh;
  justify-content:center;
  align-items:center;
}

body {
  margin: 0;
  background-color: #101010;
}

h1,h2, th {
  color: #F5C518;
}

p,td,tr {
  color: #dedede;
}

button {
  background-color: #F5C518;
  border: 10px solid #F5C518;
  border-radius: 4px;
  font-weight: bold;
  outline: none;
}

button:disabled:hover {
  cursor: not-allowed;
}

button:hover {
  cursor: pointer;
}

.topnav {
  overflow: hidden;
  background-color: #1A1A1A;
  position: relative;
}

.topnav input[type=text] {
  position: absolute;
  font-size: 14px;
  margin-top: 5px;
  left: 30%;
  border-radius: 7px;
  padding: 6px 20% 5px 10px;
  z-index: 5;
}

.topnav input[type=text]:focus {
  outline: none !important;
  border-color: #F5C518;
}

.topnav img {
  /*height: 30px;*/
  /*width: 55px;*/
  height: 10%;
  width: 3%;
  padding: 5px 5px 3px 26%;
  margin-top: 1px;
}

#div-movie-details {
  height: 160px;
}

.div-centered {
  margin: auto;
  width: 45%;
}

.search-and-recommend {
  /*height: 250px;*/
  /*width: 150px;*/
}

.search-and-recommend th,td {
  text-align: left;
}

.search-and-recommend-th {
  padding-left: 20px;
}

.div-previews {
  height: 250px;
  width: 500px;
}

.div-recommended {
  padding-left: 20px;
  height: 250px;
  width: 500px;
}


@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav input[type=text], .topnav {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    border: 2px #F5C518 solid;
  }
  .topnav input[type=text] {
    border: 2px #F5C518 solid;
  }
}

.tr-preview:hover {
  /*background-color: rgb(218, 218, 218);*/
  background-color: #1f1f1f;
  cursor:pointer;
}
